/* Table of Contents
  Global
  Typography
  Navigation
  Slider Styles
  Main Body Styles
  Footer Styles
  Image Styles
*/

* {
  /*border: 1px solid red !important;*/
  font-family: 'Open Sans', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  color: #191919;
}

a {
  cursor: pointer;
  color: #ff530d;
  text-decoration: none;
}

p a {
  cursor: pointer;
  color: #191919;
  text-decoration: none;
}

p a:hover {
  color: #ff530d;
}

/* Typography
__________________________________________ */

backquote {
  font-size: 2rem;
  font-style: italic;
  font-family: serif;
}

.reference {
  font-size: 1.1rem;
  font-style: italic;
}


code {
  white-space: pre-wrap;
  /*display: block;*/
}

/* Navigation
__________________________________________ */

header {
  background-color: #191919;
  border-bottom: 2px solid #ff530d;
}

header ul li {
  display: inline-block;
  float: right;
  margin: 0;
  position: relative;
  align-content: flex-end;
}

header ul li a {
  list-style: none;
  display: inline-block;
  line-height: 50px;
  color: #e5e5e5;
  padding: 0 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

header ul li a:hover {
  background: #ff530d;
  color: #191919;
  cursor: pointer;
}


/* Slider Styles
___________________________________________ */

.section-slider {
  background: url(../img/background.png) repeat;
  background-attachment: fixed;
  padding: 20px 0;
  color: #fff;
  border-bottom: 2px solid #191919;
}

section .container{
  text-align:center;
  padding:20px 0;
  margin: 0 auto;
  height:300px;
  border-radius: 6px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset, 0 1px 1px #DDD;
  background:radial-gradient( #ff530d, #191919);
}


/* Main Body Styles
___________________________________________ */

aside {
  padding: 20px 0;
}

section {
  padding: 20px 0;
}

.space {
  margin-top: 20px;
}


/* Footer Styles
___________________________________________ */

footer {
  background: #191919;
  color: #e5e5e5;
  padding: 20px 0;
}


/* Image Styles
___________________________________________ */

.logo {
  margin: 20px 0px;
  border: 5px solid #e5e5e5;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

.img-curved {
  border-radius: 6px;
}

.img-padding {
  display: inline-block;
  align-content: center;
  padding: 0 15px;
  margin: 0;
}
