/* -----------------------------------
Global Settings for Blog
----------------------------------- */

/* {
  border: 1px solid red !important;
}
*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
  p {
    display: none;
  }
}

/* -----------------------------------
Grid settings
----------------------------------- */
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;

}

.col-md-3 {
  margin: 0;
  padding: 0;
}

.col-md-4 {
  padding: 0;
  margin-top: 25px;
}

.col-md-8 {
  margin-top: 25px;
}

/* --------------------------------
Body Formatting
----------------------------------- */

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
}


/* --------------------------------
Header/Navigation Section
----------------------------------- */

.navbar {
  height: 50px;
  margin: 0;
  background-color: #3f5765;
  list-style: none;
  text-align: left;
  border-bottom: 2px solid #ff530d;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar ul li {
  list-style: none;
  color: #efefef;
}

.navbar ul li a {
  text-decoration: none;
  float: left;
  display: block;
  padding: 13px 20px;
  color: #efefef;
}

.navbar a:hover {
  background: #ff530d;
  color:#2b3a42;
}

/* --------------------------------
Main Section
-----------------------------------*/

h1 {
  font-family: 'Poiret One', cursive;
  font-size: 40px;
  line-height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

h1, h2, h3, p {
  color: #2b3a42;
}

h2 {
  font-size: 20px;
  font-style: italic;
  margin-top: 0;
}

h3 {
  font-size: 18px;
  margin-top: 0;
}

a {
  color: #ff530d;
  text-decoration: none;
}

p {
  padding: 0;
}


/* --------------------------------
Footer Section
-----------------------------------*/
.footer {
  text-align: center;
  background-color: #3f5765;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  margin-top: 15px;
}

.footer .container {
  top: 50px;
}

.footer h2 {
  margin: 0;
  color: #efefef;
  font-size: 40px;
  line-height: 35px;
  padding:50px 0 50px;
}

.footer .btn {
  background-color: #2b3a42;
  margin-bottom: 40px;
  color: #efefef;
  font-size: 18px;
  text-decoration: none;
  padding: 8px 80px;
  display: inline-block;
}

a.btn:hover {
  background: #ff530d;
  color: #2b3a42;
}
