@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poiret+One');

/* font-family: 'Poiret One', cursive;
font-family: 'Open Sans', sans-serif;
*/

/* --------------------------------
Body Formatting
----------------------------------- */

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
}


/* --------------------------------
Header/Navigation Section
----------------------------------- */
.header {
  height: 50px;
  margin: 0;
  background-color: #3f5765;
  list-style: none;
  text-align: left;
}

.navbar {
  height: 50px;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar ul li {
  list-style: none;
  color: #efefef;
}

.navbar ul li a {
  text-decoration: none;
  float: left;
  display: block;
  padding: 15px 20px 15px 20px;
  color: #efefef;
}

.navbar a:hover {
  background: #ff530d;
  color:#2b3a42;
}

/* --------------------------------
Main Section
-----------------------------------*/

h1 {
  font-family: 'Poiret One', cursive;
  font-size: 65px;
  line-height: 200px;
}

h1, h2, h3, p {
  color: #2b3a42;
}

h2 {
  font-size: 20px;
  font-style: italic;
}

h3 {
  font-size: 18px;
}

a {
  color: orange;
}

p {
  padding: 8px 5px 8px 5px;
}


/* --------------------------------
Footer Section
-----------------------------------*/
.footer {
  height: 400px;
  text-align: center;
}

.footer .container {
  background-color: #3f5765;
  position: relative;
  top: 50px;
}

.footer h2 {
  margin: 0;
  color: #efefef;
  font-size: 40px;
  line-height: 35px;
  padding:50px 0 50px;
}

.footer .btn {
  background-color: #2b3a42;
  margin-bottom: 40px;
  color: #efefef;
  font-size: 18px;
  text-decoration: none;
  padding: 8px 80px;
  display: inline-block;
}

a.btn:hover {
  background:#ff530d;
  color:#2b3a42;
}
