body {
  background-color: #333;
  font-family: sans-serif;
}

h1, h2 {
  color: #775;
}

a {
  color: orange;
}

p {
  background: #666;
  color: white;
  padding: 8px 5px 8px 5px;
}

.secondary {
  background: none;
  color: #555;
}

#special {
  background: red;
  color: #white;
}

li {
  background: #666;
  color: white
  padding: 8px 5px 8px 5px
}
